<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>確認ダイアログ</title>
    <script>
        function showAlert() {
            // 確認ダイアログを表示
            const userConfirmed = confirm("前日の勤怠がありません。よろしいですか?");
            if (!userConfirmed) {
				window.location.href = "/Attendance_register";
            } else {
                // はいが選択された時の処理
                window.location.href = "/Register_complete"; // こちらもGETメソッド
            }
        }
    </script>
</head>
<body onload="showAlert()">
    <!-- ページが読み込まれたときにshowAlert()関数を呼び出す -->
</body>
</html>