<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>削除完了</title>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style_attendance.css">
</head>
<body>
    <div class="container">
    <div class="left">
      <div class="circle-bg"></div>
      <div class="menu-buttons">
        <a href="/top"><div class="menu-button">トップページ</div></a>
        <a href="/L.html"><div class="menu-button">ログアウト</div></a>
      </div>
      <div class="logo-area">
        <span class="company">company</span>
        <span class="m">M</span>
      </div>
    </div>
    <div class="right">
		
	    <h2>削除完了！</h2>

        <table class="confirm-table">
            <tr>
                <td class="guide">【ID】</td>
                <td th:text="${sessionScope.empId}"></td> 
            </tr>
        </table>
        <br>
            <a href="/Admin" class="return-link">勤怠メニューに戻る</a>
        </form>
    </div>

</body>
</html>
