<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠登録完了</title>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" th:href="@{/css/style_user.css}">-->
<link rel="stylesheet" th:href="@{/css/style_attendance.css}">
</head>
<body>
  <div class="container">
    <div class="left">
      <div class="circle-bg"></div>
      <div class="menu-buttons">
        <a href="/top"><div class="menu-button">トップページ</div></a>
        <a href="/L"><div class="menu-button">ログアウト</div></a>
      </div>
      <div class="logo-area">
        <span class="company">company</span>
        <span class="m">M</span>
      </div>
    </div>
    <div class="right">
	    <h1>勤怠登録完了</h1>
		
		<!--<p th:text="${msg}"></p>-->
	
	   <a href="/AtMenu" class="return-link">勤怠メニューに戻る</a>
    </div>
</body>
</html>
